# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto br1
{% if use_dhcp_on_public_port != 'True' %}
iface br1 inet static
    address {{ ansible_default_ipv4["address"] }}
    netmask {{ ansible_default_ipv4["netmask"] }}
    gateway {{ ansible_default_ipv4["gateway"] }}
    dns-nameservers 144.254.71.184 173.38.200.100
{% else %}
iface br1 inet dhcp
{% endif %}
    bridge_maxwait 0
    bridge_ports eth0
    bridge_stp off
